# Titulo
## Subtitulo
### subsubtitulo

*italicas*

**negrita**

$y_i= a+ b_*x_i $

Markdown es para añadir texto

En python se crea un objeto y luego a través de código se manipula el objeto.

In [39]:
variable1=6

In [40]:
#ver contenido
variable1

6

In [41]:
#ver contenido print ()
print(variable1)

6

In [42]:
#corroborar que variable es entero
type(variable1)

int

In [43]:
#crear una variable decimal (float)
variable2=7.89

In [44]:
# verificar que variable2 es decimal
type(variable2)

float

In [45]:
#variable texto string
mi_inicial='P'

In [46]:
# Verificar tipo de variable de mi_inicial
type(mi_inicial)

str

In [47]:
print(mi_inicial)

P

In [48]:
print(variable1, variable2)

6 7.89

In [49]:
print('La letra inicial de mi nombr: ', mi_inicial)

La letra inicial de mi nombr:  P

In [50]:
print(f'La letra inicial de mi nombre es:{mi_inicial}')

La letra inicial de mi nombre es:P

In [51]:
print(f'Este es un número entero: {variable1}')

Este es un número entero: 6

In [52]:
print(f'Este es un número decimal: {variable2}')

Este es un número decimal: 7.89

In [53]:
# crear un boleano
boleano1=True

In [54]:
type(boleano1)

bool

In [55]:
7 > 5

True

In [56]:
7 > 19

False

In [57]:
7 > 5 & 7 < 2

False

In [58]:
variable1

6

In [59]:
variable1_decimal=float(variable1)

In [60]:
type(variable1_decimal)

float

In [61]:
print(variable1_decimal)

6.0

In [62]:
print(variable1)

6

In [63]:
# sumar 
6+5

11

In [64]:
#sumar
variable1 + variable2

13.89

In [65]:
#restar
10-5

5

In [66]:
#multplicar
4*4

16

In [67]:
#dividir
20/5

4.0

$3^2$

In [68]:
3 ** 2

9

In [71]:
pow(3,2)

9