## Estadística Aplicada

Sesion 8 - 24 agosto

Paulina Quiroz Sánchez 1723927

grupo 41

In [1]:
#librerias basicas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#librerias especializadas
import statsmodels.formula.api as smf

In [7]:
datos = pd.read_excel('modelolineal.xlsx')
datos = datos[['Y', 'X']]

In [8]:
datos

            Y   X
0   19.246957  23
1   16.878501  19
2   20.187237  27
3   12.176789  13
4   21.420112  21
5   24.436799  22
6   14.507928  19
7   16.013496  14
8   12.043514   3
9    6.808838   1
10  20.473608  19
11  19.688717  18
12  20.405782  12
13  24.959259  16
14  23.913532  29
15  22.719407  23
16  18.680587  14
17  17.192583  20
18  28.422786  27
19  24.757379  28
20   9.544102   0
21  24.230330  20
22  26.417826  24
23  23.066723  23
24  13.145005   8
25  24.385156  24
26  12.934102  10
27  14.002469   4
28  26.599047  29
29  11.910387  10

estimar $Y = \beta_0 + \beta_1 X$

In [12]:
##especificamos
reg1 = smf.ols(formula='Y~X', data =datos)
#estimacion
results1 = reg1.fit()
## mostramos el modelo
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.732
Model:                            OLS   Adj. R-squared:                  0.722
Method:                 Least Squares   F-statistic:                     76.40
Date:                Thu, 24 Aug 2023   Prob (F-statistic):           1.72e-09
Time:                        14:21:49   Log-Likelihood:                -74.480
No. Observations:                  30   AIC:                             153.0
Df Residuals:                      28   BIC:                             155.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.9619      1.276      7.022      0.000       6.347      11.576
X              0.5814      0.067      8.740      0.000       0.445       0.718
==============================================================================
Omnibus:                        0.249   Durbin-Watson:                   1.658
Prob(Omnibus):                  0.883   Jarque-Bera (JB):                0.440
Skew:                           0.121   Prob(JB):                        0.803
Kurtosis:                       2.459   Cond. No.                         44.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Para evaluar un modelo generalmente se usa $R^2$. Pero no es la unica medida utilizada, también se suele usar con bastante frecuencia el MAD, MAPE Y MSD.

MAD: desviación absoluta media.

MSD: desviación cuadrática media.

MAPE: error porcentual absoluto medio.

$MAD= \sum \abs(Y-\hat(Y))$

El MAD, quien tenga menor MAD es el mejor modelo.

Los datos que usamos para estimar el modelo tambien los usamos para evaluar el modelo. Lo que se sugiere es que con unos datos estimemos los coeficientes de las betas y con otros datos evaluamos el modelo.
Para estimar el modelo se requiere el conjunto de entrenamiento, TRAIN SET, el conjunto de evaluación en inglés es TEST SET.

La base de datos original se parte en dos, uno se llama conjunto de entrenamiento y otro conjunto de evaluaciones. Usualmente se hace 80 / 20 (80% entrenamiento y 20% para evaluación)

In [14]:
## Definir el conjunto de prueba y el conjunto de evaluación
## generar X2
datos['X2'] = datos ['X'] ** 2

## [:20] significa que tome los primeros 20 datos de la tabla
train_set = datos[:20] 
test_set = datos[20:]

In [15]:
test_set

            Y   X   X2
20   9.544102   0    0
21  24.230330  20  400
22  26.417826  24  576
23  23.066723  23  529
24  13.145005   8   64
25  24.385156  24  576
26  12.934102  10  100
27  14.002469   4   16
28  26.599047  29  841
29  11.910387  10  100

Vamos a estimar el primer modelo
$Y = \beta_0 + \beta_1 X$

In [16]:
##Definimos el modelo
reg_m1 = smf.ols(formula='Y~X', data=train_set)
## estimamos
results_m1 = reg_m1.fit()

In [18]:
#intercepto
results_m1.params[0]

9.233587310418212

In [20]:
#Coeficiente de B1
results_m1.params[1]

0.5441903879851918

In [21]:
bo = results_m1.params[0]
b1 = results_m1.params[1]

In [22]:
## pronostico en conjunto de evaluacion
test_set['Y_hat'] = bo + (b1 * test_set['X'])

C:\Users\FCFM\AppData\Local\Temp\ipykernel_7592\2736279893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set['Y_hat'] = bo + (b1 * test_set['X'])

In [23]:
test_set

            Y   X   X2      Y_hat
20   9.544102   0    0   9.233587
21  24.230330  20  400  20.117395
22  26.417826  24  576  22.294157
23  23.066723  23  529  21.749966
24  13.145005   8   64  13.587110
25  24.385156  24  576  22.294157
26  12.934102  10  100  14.675491
27  14.002469   4   16  11.410349
28  26.599047  29  841  25.015109
29  11.910387  10  100  14.675491

In [24]:
## Estimar 
MAD = (test_set['Y']-test_set['Y_hat']).abs().mean()

In [25]:
print(MAD)

2.107953156470989

In [31]:
## ESPECIFICAR MODELO 2
reg2 = smf.ols(formula='Y~X+X2', data= train_set)
## ESTIMAR MODELO
results_m2 = reg2.fit()
## Como son dos variables mas el intercepto son 3 betas
b0 = results_m2.params[0]
b1 = results_m2.params[1]
b2 = results_m2.params[2]

## pronosticamos el conjunto de evaluacion
test_set['Y_hat2']= b0 + b1*test_set['X'] + b2*test_set['X2']

##Evaluamos con MAD
MAD2 = (test_set ['Y']-test_set['Y_hat2']).abs().mean()

C:\Users\FCFM\AppData\Local\Temp\ipykernel_7592\151227280.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set['Y_hat2']= b0 + b1*test_set['X'] + b2*test_set['X2']

In [33]:
print(MAD.round(2), MAD2.round(2))

2.11 2.33

El mejor modelo segun MAD y utilizando validacion cruzada es el modelo $Y = \beta_0 + \beta_1 X$