# Estadística Aplicada
Sesión 2, 9 agosto

Paulina Quiroz Sánchez 1723927

Lista en python es una colección de objetos que pueden ser de distinto tipo.

nombrelista = [objeto1, objeto2, objeto3, etc..]

In [1]:
alumno1 = ['Juan','Pérez', 19]

In [2]:
type(alumno1)

list

In [5]:
#Imprimir la lista
alumno1

['Juan', 'Pérez', 19]

In [7]:
#Crear una lista con los alumnos del grupo
estadistica_g4 = ['Juan','Raul','Jimena','Alejandra']

In [9]:
#Mostrar lista
estadistica_g4

['Juan', 'Raul', 'Jimena', 'Alejandra']

In [12]:
#Cómo elegir elementos de una lista
estadistica_g4 [3]
# Nota: En Python se inicia la lista en cero, por lo tanto, la posición de 'Alejandra' sería el número 3.

'Alejandra'

In [16]:
#De esta forma podemos imprimir más de una posición
estadistica_g4 [0], estadistica_g4[3]

('Juan', 'Alejandra')

In [15]:
#Esta es otra forma de seleccionar más de una posición, OJO, si se pone solo ':' eso significa HASTA. 
estadistica_g4[0::3]

['Juan', 'Alejandra']

In [17]:
#También se puede seleccionar con números negativos, de derecha a izquierda, ejemplo:
estadistica_g4[-1]

'Alejandra'

In [18]:
#Para quitar un elemento de la lista:
estadistica_g4.remove('Jimena')

In [19]:
#Imprimir para corroborar que se eliminó el elemento de la lista
estadistica_g4

['Juan', 'Raul', 'Alejandra']

In [20]:
#Agregar un elemento a la lista (Mi nombre)
estadistica_g4.append('Paulina')

In [21]:
#Imprimir nuevamente para corroborar que se agregó el elemento a la lista
estadistica_g4

['Juan', 'Raul', 'Alejandra', 'Paulina']

In [22]:
#Creamos una lista que se llama amigos_bff
amigos_bff = ['Paulina', 'Miguel','Diana', 'Melissa']

In [23]:
#Asignar a una variable el valor de una lista
yo = amigos_bff[0]

In [24]:
yo

'Paulina'

In [25]:
#Esta lista contiene mis datos, mi nombre, carrera, semestre y promedio
yo_enFCFM = ['Paulina','LA',8, 82]

In [26]:
mi_promedio = yo_enFCFM[3]
mi_carrera = yo_enFCFM[1]

In [27]:
#Imprimir promedio y carrera
mi_promedio, mi_carrera

(82, 'LA')

1. Instalar la librería (una sola vez)
2. Decirle a python que use la librería

instalar una libreria llamada yahoofinance

In [28]:
pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  Downloading yfinance-0.2.27-py2.py3-none-any.whl (63 kB)
     -------------------------------------- 63.2/63.2 kB 569.2 kB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in c:\users\fcfm\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.8-cp310-cp310-win_amd64.whl (35 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\fcfm\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\fcfm\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in c:\users\fcfm\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\fcfm\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 1.1 MB/s eta 0:00:00
Collecting requests>=2.31
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.6/62.6 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in c:\users\fcfm\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\fcfm\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\fcfm\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\fcfm\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\fcfm\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\fcfm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fcfm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\fcfm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fcfm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2022.12.7)
Installing collected packages: multitasking, requests, html5lib, frozendict, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 requests-2.31.0 yfinance-0.2.27

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.41 requires requests_mock, which is not installed.
conda-repo-cli 1.0.41 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.41 requires nbformat==5.4.0, but you have nbformat 5.7.0 which is incompatible.
conda-repo-cli 1.0.41 requires requests==2.28.1, but you have requests 2.31.0 which is incompatible.

In [1]:
import yfinance

In [2]:
yfinance.download('WALMEX.MX')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2003-01-01   5.724499   5.946570   5.724499   5.879949   4.356912         0
2003-01-02   5.724499   5.946570   5.724499   5.879949   4.356912   8334330
2003-01-03   5.872546   5.909558   5.850339   5.872546   4.351426  18475096
2003-01-06   5.872546   6.116825   5.872546   6.104487   4.523290  16180223
2003-01-07   6.104487   6.104487   5.951505   5.963842   4.419074  15261074
...               ...        ...        ...        ...        ...       ...
2023-08-04  67.400002  69.099998  67.370003  69.070000  69.070000  11936860
2023-08-07  68.900002  69.589996  68.099998  68.300003  68.300003  15582252
2023-08-08  68.309998  68.639999  67.400002  67.809998  67.809998  18350539
2023-08-09  67.879997  68.750000  67.879997  68.250000  68.250000  18104823
2023-08-10  68.010002  68.940002  67.940002  68.410004  68.410004   4458670

[5214 rows x 6 columns]